
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #f5f5f5;
    background-color: black ;
    background-image: url(Slike/Pattern-RokoRukelj-VJ3.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    display: block;
    padding: 15px 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}


body > *:not(nav) {
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2 {
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    
}

p {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-align: center;
}

iframe, video, img { 
    display: block; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.7); }

    h1  {
        font-family: HeadingFont;
        src: url(Font/RokoRukelj.ttf) format(truetype);
        font-weight: 400;
        font-style: normal;
    }
